.p-field>* {
    display: block;

}

.p-field {
    width: auto;
    margin: auto;
}


.forminput {
    height: fit-content;
    width: fit-content;
}

.background-grey {
    background: #f5f5f9;
}

@media (max-width: 767px) {
    .column-image {
        display: none;
    }
}

@media (max-width: 991px) {
    .image-login {
        width: 65%;
    }
}